body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  background: linear-gradient(325deg,#88e653 0%,#03c02c 30%,#319ce4 70%,#1a55eb 100%);
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h2 {
  font-size: 3em;
  color: #28b9d3;
  background-color:#1a55eb ;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-color: #1a55eb;
  border-radius:20px;
  padding: 10px;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #3594c0;
  background-color: #251d97;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
}

.reset:focus {
  color: #ec38bc;
  background-color: #262809;
  border-radius: 20px;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #404040;
  /* opacity: 0.85; */
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
